.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  border-top: 1px solid rgba(34, 34, 34, 0.3);
  gap: 15px;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-logo p {
  width: 100%;
  line-height: 1.2rem;
  color: rgba(34, 34, 34, 0.8);
}

.footer-account {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  color: rgba(34, 34, 34, 0.8);
}

.footer-account h3,
.footer-information h3,
.credit-location h3 {
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
  padding: 0.2rem 0;
}

.footer-account a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.8);
}

.footer-account a:hover {
  color: rgba(251, 78, 39, 0.8);
}

.footer-information {
  color: rgba(34, 34, 34, 0.8);
}

.footer-information p {
  color: rgba(34, 34, 34, 0.8);
}

.credit-location {
  color: rgba(34, 34, 34, 0.8);
}

.credit-transaksi {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0.5rem 0;
}

.credit-transaksi img {
  width: auto;
}
